<!DOCTYPE html>
<html>
  <head>
    <title>Razorpay IFSC Toolkit</title>
    <link href='/main.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://razorpay.com/favicon.png" type="image/png">
  </head>
  <body class="home-template">
    <header class="main-header">
    <ul id="nav">
      <div class="container">
        <li><a id="logo-link" href="https://razorpay.com/?ref=ifsc"></a></li>
        <li><a href="https://razorpay.com/blog/">Blog</a></li>
        <div class="middle-links">
          <li><a href="https://razorpay.com/features/?ref=ifsc">Features</a></li>
          <li><a href="https://razorpay.com/demo/?ref=ifsc">Demo</a></li>
          <li><a href="https://docs.razorpay.com" target="_blank">Docs</a></li>
        </div>
        <div class="float-right">
          <li><a href="https://dashboard.razorpay.com/#/access/signin" class="login-link">Log In</a></li>
          <li><a href="https://dashboard.razorpay.com/#/access/signup?ref=ifsc" class="btn login-link">Sign Up</a></li>
        </div>
      </div>
    </ul>
    </header>
    <div class='container'>
      <section class='desc'>
        <div class='section-inner'>
          <header>
            <h1>Razorpay IFSC Toolkit</h1>
            <span>Process IFSC codes via our toolkit. Fire up your tools and query our API for the IFSC codes.</span>
          </header>

          <ul class="main-content">
            <li>An API to query IFSC codes</li>
            <li>IFSC dataset available for download</li>
            <li>Code to generate the dataset</li>
            <li>A <a href="https://razorpay.com/blog/razorpay-ifsc-toolkit/">blog post</a> on the "why"</li>
          </ul>

          <nav class="buttons">
            <a title="API Documentation" href="https://github.com/razorpay/ifsc/wiki/API"><i class="icon-book"></i>API Docs</a>
            <a title="Dataset Download" href="https://github.com/razorpay/ifsc/releases"><i class="icon-drive"></i>Dataset</a>
            <a title="Source Code" href="https://github.com/razorpay/ifsc"><i class="icon-github-circled"></i>GitHub</a>
          </nav>
          <nav class="buttons">
            <a title="Composer Package" href="https://packagist.org/packages/razorpay/ifsc"><i class="icon-drive"></i>PHP</a>
            <a title="Node.js Package" href="https://www.npmjs.com/package/ifsc"><i class="icon-drive"></i>Node.js</a>
            <a title="Rubygems Package" href="https://rubygems.org/gems/ifsc"><i class="icon-drive"></i>Ruby</a>
          </nav>
        </div>
      </section><section>
        <div class='api-response'><table><tr><td></td><td><pre><span style="color: #D56C43">{</span>
    <span style="color: #299F6C">&quot;BANK&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;HDFC BANK&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;IFSC&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;HDFC0CAGSBK&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;BRANCH&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;THE AGS EMPLOYEES' CO-OP BANK LTD&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;ADDRESS&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;PARK HOUSE ROAD, BANGALORE 560001&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;CONTACT&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;2265658&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;CITY&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;BANGALORE&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;DISTRICT&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;BANGALORE URBAN&quot;</span><span style="color: #D56C43">,</span>
    <span style="color: #299F6C">&quot;STATE&quot;</span><span style="color: #D56C43">:</span> <span style="color: #2F7190">&quot;KARNATAKA&quot;</span><span style="color: #D56C43">
}</span></pre></td></tr></table>
        </div>
      </section>
    </div>
    <footer>
      <a href="https://razorpay.com/about/" title="Link to Razorpay About Page">Made with <span class="heart">♥</span> by folks at Razorpay</a>
    </footer>
</body>
</html>
