<!DOCTYPE html>
<html>
  <head>
    <link href='https://yegor256.github.io/tacit/tacit.min.css' rel='stylesheet' type='text/css'>
    <title>Razorpay IFSC API</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Razorpay IFSC API</h1>
      </header>
    </section>
    <section>
      <article>
        <%= text %>
      </article>
    </section>
    <section>
      <footer>
        <a href='http://github.com/razorpay/ifsc-api'>Source</a>
      </footer>
    </section>
  </body>
</html>